body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-image: url(./azam.png);
    background-position: center;
    height: 100vh;
    background-color: black;
  }
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
  .login-container {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(255, 255, 255);
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  #username-p {
    background-color:transparent;
    color:white;
  }
  
  #password-p {
    background-color:transparent;
    color: white;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }